body{
  background-color: #101113;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loginLayout{
margin-top: 25%;
}

.loginLayout h1 {
  margin-bottom: 50px;
}

.login{
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}


/* TEACHER */

.teacherTitle{
  margin-top: 100px;
}

.teacherForm{
  width: 60%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.questionInput{
  width: 100%;
  height: 150px;
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 15px 20px;
  display: inline-block;
  border: 2px solid lightblue;
  box-sizing: border-box;
}

.options{
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.options > input{
  flex: 40%;
}

.options input[type=text]{
  padding: 15px 20px;
  display: inline-block;
  border: 2px solid lightblue;
  box-sizing: border-box;
  border-radius: 5px;
}

.teacherForm button[type=submit]{
  margin: auto
}

/* STUDENTVIEW */

article{
  margin: auto;
  margin-top: 100px;
  background-color: #f3f3f3;
  color: #101113;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.studentAnswer{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.studentAnswer > div {
  flex: 41%;
}

.answerStudent{
  background-color: #f3f3f3;
  color: #101113;
  padding: 40px;
  border-radius: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


